body {
    background-color: #171a21;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.button-link {
    color: gainsboro;
    text-decoration: none;
    font-size: 16px;
    padding: 30px;
    transition: background-color 0.3s;
}

.button-link:hover {
    color: white
}

.funb1 {
    color: gainsboro;
    text-decoration: none;
    font-size: 10px;
    padding: 30px;
    width: 80px;
    height: 0px;
    transition: background-color 0.3s;
    background-color: #4CAF50;
}

.funb1:hover {
    color: white
}

.forget {
    color: gray
}

.forget:hover {
    color: white
}

.funb {
    color: gainsboro;
    text-decoration: none;
    font-size: 10px;
    width: 40px;
    padding: 30px;
    transition: background-color 0.3s;
}

.funb:hover {
    color: white
}

img[alt="pic"] {
    min-width: 200px;
    min-height: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    margin-top: 3%;
    margin-left: 15%;
    max-width: 600px;
}

.funfun {
    display: flex;
    min-width: 30px;
    position: absolute;
    top: 0;
    right: 10%;
}

.login-box {
    width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #1b2838;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #e1e1e1;
    color: #000;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #00adee;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0077be;
}
