/* 设置页面的字体和背景颜色 */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* 控制容器的宽度和居中对齐 */
.container {
  width: 800px;
  margin: 0 auto;
}

/* 设置表单样式 */
form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.center {
  text-align: center;
}

form button[type="submit"]:hover {
  background-color: #0069d9;
}

/* 设置数据展示区域的样式 */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

thead {
  background-color: #007bff;
  color: #fff;
}

thead th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
